@font-face {
    font-family: "Alegreya";
    src:
        url("Alegreya-VariableFont_wght.ttf") format("truetype"),
        url("Alegreya-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Playfair Display";
    src: url("PlayfairDisplay-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Playfair Display";
    src: url("PlayfairDisplay-Bold.ttf") format("truetype");
    font-weight: bold;
}

p {
    font-family: "Alegreya", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
}
